// ==========================================================================
// Button Styles
// ==========================================================================

button{
	background-color:transparent;
	border:none;
	outline:none;
}

.btn{
	display: inline-block;
	padding: 1em 4em;
	@include open;
	font-weight: 600;
	text-decoration: none;
	@include border-radius(2px);
	border: none;
	@include transition(background-color,.3s);

	&.large{
		font-size: 1.125em;
	}

	&.small{
		font-size: 0.875em;
	}

	&.primary{
		color: #fff;
		background-color: #2586b7;

		&:hover{
			background-color: #1b6185;
		}
	}
}